<!DOCTYPE html>
<html lang="en" data-ng-app="app">
  <head>
    <meta charset="utf-8" />
    <base href="/" />
    <meta name="description" content="" />
    <meta name="keywords" content="" />
    <meta
      name="viewport"
      content="width=device-width, initial-scale=1, maximum-scale=1"
    />
    <meta name="renderer" content="webkit" />
    <meta
      name="google-translate-customization"
      content="108d9124921d80c3-80e20d618ff053c8-g4f02ec6f3dba68b7-c"
    />

    <link
      rel="stylesheet"
      href="<%= BASE_URL %>assets/web/css/main-507a7936c9.css"
    />

    <link
      rel="stylesheet"
      href="<%= BASE_URL %>assets/web/css/_translateelement.css"
      type="text/css"
    />
    <link
      rel="stylesheet"
      href="<%= BASE_URL %>assets/web/css/iconfont/iconfont.css"
      type="text/css"
    />

    <!-- landing -->
    <style>
      .spinner {
        display: flex;
        align-items: center;
        justify-content: center;
        width: 100vw;
        height: 100vh;
        background: -moz-linear-gradient(top, #f0f0f0, #dcdcdc);
        background: -webkit-linear-gradient(top, #f0f0f0, #dcdcdc);
        background: linear-gradient(top, #f0f0f0, #dcdcdc);
      }
      .spinner img {
        width: 150px;
        height: auto;
      }
    </style>
  </head>
  <body
    style="overflow:hidden"
    ng-class="{'collapsed': landingCollapsed, 'dashboard': currentApp.dashboard}"
  >
    <toaster-container toaster-options="{'time-out': 5000}"></toaster-container>
    <div class="rto_custom rto_header"></div>
    <div id="container">
      <div class="spinner"></div>
    </div>
    <div ui-view class="app" id="app"></div>
    <div class="rto_custom rto_status"></div>
    <div class="page-loading">
      <div id="loader-logo"></div>
      <div id="loader-circle"></div>
      <div class="loader-section section-left"></div>
      <div class="loader-section section-right"></div>
    </div>
    <!-- <div class="page-loading">
  <img src="https://www.xuelangyun.com/static/log123100.gif" alt="loading" />
</div> -->

    <script src="<%= BASE_URL %>assets/web/js/lib-9019f2ce4f.js"></script>

    <script src="<%= BASE_URL %>assets/web/js/element.js"></script>

    <script src="<%= BASE_URL %>assets/web/js/main-05fab6f170.js"></script>
  </body>
</html>
