@font-face {
  font-family: "rto_iconfont";
  src: 
  url('iconfont.woff?t=1617354501972') format('woff');
}

.rto_iconfont {
  font-family: "rto_iconfont" !important;
  font-size: 16px;
  font-style: normal;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-recycle:before {
  content: "\e700";
}

.icon-check:before {
  content: "\e6ab";
}

.icon-loading-copy:before {
  content: "\e805";
}

.icon-start:before {
  content: "\e656";
}

.icon-stop:before {
  content: "\e638";
}

.icon-rizhi:before {
  content: "\e610";
}

.icon-baocun:before {
  content: "\e661";
}

.icon-dakai:before {
  content: "\e602";
}

.icon-bangzhu:before {
  content: "\e612";
}

.icon-shezhi:before {
  content: "\e6f5";
}

.icon-lingcunwei:before {
  content: "\e640";
}

.icon-fuzhi:before {
  content: "\e804";
}

.icon-xinjian:before {
  content: "\e718";
}

.icon-jianqie:before {
  content: "\e61d";
}

.icon-about:before {
  content: "\e637";
}

.icon-close:before {
  content: "\e600";
}

.icon-right-arrow:before {
  content: "\e608";
}

.icon-maximize-restore:before {
  content: "\e649";
}

.icon-minimize:before {
  content: "\e635";
}

.icon-maximize:before {
  content: "\e65f";
}

