.rto_custom {
  &.rto_header {
    position: relative;
    z-index: 9;
  }
  *, *::after, *::before {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    user-select: none;
    -webkit-user-drag: none;
  }
  ul {
    list-style: none;
  }
  .drag {
    -webkit-app-region: drag;
  }
  .no-drag {
    -webkit-app-region: no-drag;
  }
}


// override suanpan
#container {
  top: 115px;
  display: none;
}
.sp-app-actions {
  display: none;
}
#container+.app {
  top: 0;
}