.rto_custom {
  &.rto_header {
    position: relative;
    z-index: 9;
  }
  *, *::after, *::before {
    box-sizing: border-box;
    // margin: 0;
    // padding: 0;
    user-select: none;
    -webkit-user-drag: none;
  }
  ul {
    list-style: none;
  }
  .drag {
    -webkit-app-region: drag;
  }
  .no-drag {
    -webkit-app-region: no-drag;
  }
}


// override suanpan
#container {
  top: 115px;
  display: none;
}
.sp-app-actions {
  // display: none;
  right: 2500px !important;
  visibility: hidden !important;
}
#container+.app {
  top: 0;
}
.sp-app-right .sp-app-tabs-content .tab-pane {
  height: calc(100vh - 6px - (50px + 38px + 60px + 24px));
}
// .sp-toggle.ng-scope {
//   display: none;
// }