<!DOCTYPE html>
<html lang="en" data-ng-app="app">
  <head>
    <meta charset="utf-8" />
    <base href="/" />
    <meta name="description" content="" />
    <meta name="keywords" content="" />
    <meta
      name="viewport"
      content="width=device-width, initial-scale=1, maximum-scale=1"
    />
    <meta name="renderer" content="webkit" />
    <meta
      name="google-translate-customization"
      content="108d9124921d80c3-80e20d618ff053c8-g4f02ec6f3dba68b7-c"
    />

    <link
      rel="stylesheet"
      href="<%= BASE_URL %>assets/web/css/main-33f73f8020.css"
    />

    <link
      rel="stylesheet"
      href="<%= BASE_URL %>assets/web/css/_translateelement.css"
      type="text/css"
    />
    <link
      rel="stylesheet"
      href="<%= BASE_URL %>assets/web/css/iconfont/iconfont.css"
      type="text/css"
    />

    <!-- landing -->
    <style>
      .spinner {
        display: flex;
        align-items: center;
        justify-content: center;
        width: 100vw;
        height: 100vh;
        background: -moz-linear-gradient(top, #f0f0f0, #dcdcdc);
        background: -webkit-linear-gradient(top, #f0f0f0, #dcdcdc);
        background: linear-gradient(top, #f0f0f0, #dcdcdc);
      }
      .spinner img {
        width: 150px;
        height: auto;
      }
    </style>
  </head>
  <body
    style="overflow:hidden"
    ng-class="{'collapsed': landingCollapsed, 'dashboard': currentApp.dashboard}"
  >
    <toaster-container toaster-options="{'time-out': 5000}"></toaster-container>
    <div class="rto_custom rto_header"></div>
    <div id="container">
      <div class="spinner"></div>
    </div>
    <div ui-view class="app" id="app"></div>
    <div class="page-loading">
      <div id="loader-logo"></div>
      <div id="loader-circle"></div>
      <div class="loader-section section-left"></div>
      <div class="loader-section section-right"></div>
    </div>
    <script>
      window.appConfig = {
        env: "xuelangyun",
        dev: "false",
        logoImgPath: "images/logo.svg",
        screenshotImgPath: "images/no_image_xly.png",
        userId: "shanglu",
        userName: "test",
        userConfigPath: "studio/shanglu/config",
        publicUserId: "user_public",
        defaultDirs: [
          { id: 1, label: "分享给我的项目", folder: true, children: [] },
          { id: 2, label: "我的项目", folder: true, children: [] },
        ],
        appMenu: {
          "/": { name: "概览", icon: "iconfont iconhome", visible: true },
          predict: {
            name: "应用开发",
            icon: "iconfont icongongyechengxu",
            route: "predict",
            description: "数据 + 算法 + 硬件 + 可视化，全混合流计算技术",
            userConfig: "predictDirs",
            componentType: "service, dashboard, model",
            visible: true,
          },
          algo: {
            name: "AI开发",
            icon: "iconfont iconAIkaifa",
            route: "exp",
            description:
              "为机器学习和深度学习提供从数据处理、模型训练到服务部署的一站式服务",
            userConfig: "appDirs",
            componentType: "algo,model",
            visible: true,
          },
          processMining: {
            name: "流程挖掘",
            icon: "iconfont iconliuchengwajue",
            route: "predict",
            description:
              "通过从事件日志中提取出知识，从而去发现、监控和改进实际业务过程",
            componentType: "pm",
            visible: false,
          },
          edge: {
            name: "边缘计算",
            icon: "iconfont iconbianyuanjisuan",
            route: "predict",
            description:
              "基于容易编排，采用网络、计算、存储、应用核心能力为一体的开放平台",
            subMenu: [
              { id: "project", name: "项目" },
              { id: "hardware", name: "接入设备" },
            ],
            componentType: "edge",
            visible: true,
          },
          mechanism: {
            name: "机理开发",
            icon: "iconfont iconjilikaifa",
            route: "predict",
            description: "将专家经验沉淀为决策模型，接入实时数据，构建决策引擎",
            componentType: "mechanism",
            visible: false,
          },
          rpa: {
            name: "RPA开发",
            icon: "iconfont iconRPAkaifa",
            route: "exp",
            description:
              "将重复性劳动进行自动化出来，在业务流程上实现自动化智能升级",
            userConfig: "rpaDirs",
            componentType: "rpa",
            visible: true,
          },
          customizedLink: {
            name: "XXXX",
            icon: "iconfont iconsun",
            link: { href: "http://xuelangyun.com", target: "_blank" },
            visible: false,
          },
        },
        edgeContext: {},
        ossType: "oss",
        publicOss: "https://suanpan-public.oss-cn-shanghai.aliyuncs.com",
        predictHost: "spnextapi.xuelangyun.com",
        edgeVersion: "0",
        version: "3.1.1",
        releasedRPAPath: "/rpa-release/suanpan-RPA-2.1-latest.exe",
        checkUpdateInterval: "3600",
        statusTimeout: 2000,
        oss: {
          bucket: "suanpan",
          endpoint: "https://oss-cn-beijing.aliyuncs.com",
          ossAccessKey: "",
          ossAccessSecret: "",
        },
        disableComponent: "0",
        suanpanSdkPath:
          "/common_public/sdk/0.9.263/suanpan-sdk.dashboard.min.js",
        suanpanSdkAllPath:
          "/common_public/sdk/0.9.263/suanpan-sdk.dashboardPage.min.js",
        suanpanSdkAllCSSPath: "/common_public/sdk/0.9.263/dashboardPage.css",
        dashboardPluginPath:
          "/app/dashboard/plugin?x-sp-user-id=shanglu&amp;x-sp-signature=ogfSyd8ShaLjDT3SZzJ9bXw6EuE%3D&amp;x-sp-sign-version=v1",
        affinity: "",
        loginHost: "https://www.xuelangyun.com",
        getUserIdMethod: "xuelang",
        appDataStoreType: "oss",
        proxyHost: "",
        adSrc: "https://suanpan-public.xuelangyun.com/ads/sp-ov-banners.html",
        adSrcMinHeight: "200",
        userGuide:
          "https://www.yuque.com/books/share/411ef73a-02b7-40d3-bdad-164620911dcd",
        services: {
          registry: { enable: true, url: "image-service.default:9876" },
          sshProxy: {
            enable: true,
            host: "39.96.195.251",
            port: 31022,
            username: "suanpan",
            password: "suanpan",
          },
          zmqProxy: { enable: true, host: "39.96.195.251", port: 31001 },
        },
        address: {
          address_detail: {
            province: "江苏省",
            city: "无锡市",
            district: "",
            street: "",
            street_number: "",
            city_code: 317,
          },
          address: "江苏省无锡市",
          point: { y: "3684426.86", x: "13392487.81" },
        },
        appId: "3350",
        pluginLoaded: true,
      };
      function async_load(src, callback) {
        var scriptElement = document.createElement("script");
        scriptElement.type = "text/javascript";
        scriptElement.async = true;
        scriptElement.src = src;
        document.body.appendChild(scriptElement);
        scriptElement.addEventListener("load", callback);
      }
    </script>

    <!-- <div class="page-loading">
  <img src="https://www.xuelangyun.com/static/log123100.gif" alt="loading" />
</div> -->

    <script src="<%= BASE_URL %>assets/web/js/lib-dfe6aae89f.js"></script>

    <script src="<%= BASE_URL %>assets/web/js/element.js"></script>
    
    <script src="<%= BASE_URL %>assets/web/js/main-a69bb5d22e.js"></script>
    
    <script src="https://spnext.xuelangyun.com/common_public/sdk/0.9.263/suanpan-sdk.dashboard.min.js"></script>
    <script src="https://spnext.xuelangyun.com/common_public/sdk/0.9.263/suanpan-sdk.dashboardPage.min.js"></script>
  </body>
</html>
